#main-flame {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
}
#user, #ready_area {
    height: 160px;
    border: 2px solid black;
    margin-top: 2%;
    border-radius: 25px;
}
#users {
    padding-top: 3%;
    padding-bottom: 3%;
}
#dice {
    border: 2px solid black;
    height: 150px;
    margin-top: 5%;
    border-radius: 25px;
}
#header {
    margin-top: 2%;
    font-size: 80px;
    font-family: fantasy;
}
#header_font {
    font-size: 50px;
    font-family: fantasy;
}
.col-md-1 {
/*     border: 2px solid black; */
    height: 80px;
    border-radius: 25px;
}
.col-md-2 {
/*     border: 2px solid black; */
    height: 120px;
    border-radius: 25px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.special-unit_image {
  width: 100%;
  height: 100%;
  
}
.word_area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 2;
}
.img_area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
.avatar{
  width:33px;
  height:33px;
}
.ava_area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 5%;
}
#user_inner {
  height: 100%;
  padding-top: 5%;
}
.pic_avatar {
    height: 80%;
}
.term_logo {
    font-size: 180%;
}
#location_val, #status_val {
    font-size: 20px;
}

#login {
  height: 100%;
  width: 100%;
  background-color: #94ddec;
  z-index: 99;
  position: absolute;
  border-radius: 25px;
}

#login h1 {
  margin: 10% 0 10% 0;
  text-align: center;
  color: white;
}

#login label {
  color: beige;
  margin-left: 10%;
  text-align: left;
}

#login input {
  margin-left: 10%;
  width: 80%;
}

#login button {
  width: 30%;
  text-align: center;
  margin-left: 35%;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-family: fantasy;
  text-align: left;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  z-index: 1;
  bottom: 40%;
  left: 20%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(135deg);
  -webkit-transform: rotate(90deg);
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
